// @Author: Matthew Juggins <matthewjuggins>
// @Date:   03-10-16
// @Email:  jugginsmatthew@gmail.com
// @Last modified by:   matthewjuggins
// @Last modified time: 03-10-16
// Description:
// A set of useful functions I frequently use. This is added to as and when I
// have the need to create new general purpose sass functions.

/* shades-to-white
 * Given a starting color, returns a list of shades of color getting lighter until white
 * @param {Color} $color : Number to clamp.
 * @param {Number} $number : Number of shades, including starting and white, to return
@function shades-to-white($color, $number) {
  @if $number < 2 {
    $number: 2;
  }
  $color-list: $color;
  $percent: 100 / $number;
  @for $i from 2 through $number {
    append($color-list, lighten($color, ($percent * $i) * 1%);
  }
  @return $color-list;
 }
 */

/* shades-to-black
 * Given a starting color, returns a list of shades of color getting darker until black.
 * @param {Color} $color : Number to clamp.
 * @param {Number} $number : Number of shades, including starting and black, to return
@function shades-to-black($color, $number) {
  @if $number < 2 {
    $number: 2;
  }
  $color-list: $color;
  $percent: 100 / $number;
  @for $i from 2 through $number {
    append($color-list, darken($color, ($percent * $i) * 1%);
  }
  @return $color-list;
 }
 */

/* Clamp
 * Keeps a value between a minimum and maximum.
 * @param {Number} $number : Number to clamp.
 * @param {Number} $min : Minimum value.
 * @param {Number} $max : Maximum value.
 * @return {Number}. */
@function clamp($number, $min, $max) {
  @return min(max($number, $min), $max);
}
