// @Author: Matthew Juggins <matthewjuggins>
// @Date:   03-10-16
// @Email:  jugginsmatthew@gmail.com
// @Last modified by:   matthewjuggins
// @Last modified time: 03-10-16
// Description:
// Simple unit tests using True to confirm the operation of general purpose
// mixins

@import '../scss/general_functions';

@include test-module('General Functions') {

  // Testing Functions
  @include test('Clamp [Function - In Range]') {
    $test: clamp(7, 5, 10);
    $expect: 7;
    @include assert-equal($test, $expect,
      'Returns value within range');
  }

  @include test('Clamp [Function - Below Min]') {
    $test: clamp(2, 5, 10);
    $expect: 5;
    @include assert-equal($test, $expect,
      'Returns value within range');
  }

  @include test('Clamp [Function - Above Max]') {
    $test: clamp(12, 5, 10);
    $expect: 10;
    @include assert-equal($test, $expect,
      'Returns value within range');
  }
